// .formats-section {
//     &__title {
//         margin-bottom: 80px;

//         &--centered {
//             text-align: center;
//         }
//     }

//     &__container {
//         display: flex;
//         gap: 32px;
//         align-items: center;
//     }

//     &__rooms {
//         font-size: 24px;
//         color: var(--primary-color-light);
//     }

//     &__description {
//         font-weight: 300;
//         color: var(--primary-color-light);
//     }

//     &__list {
//         display: flex;
//         gap: 20px;
//         flex-wrap: wrap;
//     }

//     // &__item {
//     //     flex-basis: calc((100% - 40px) / 3);
//     // }
// }

.formats-section {
    &__title {
        margin-bottom: 80px;

        &--centered {
            text-align: center;
        }
    }

    &__container {
        display: flex;
        gap: 32px;
        align-items: center;
    }

    // &__rooms {
    //     font-size: 24px;
    //     color: var(--primary-color-light);
    // }

    // &__description {
    //     font-weight: 300;
    //     color: var(--primary-color-light);
    // }

    &__list {
        display: flex;
        gap: 20px;
        // flex-wrap: wrap;
    }

    &__item {
        flex-basis: calc((100% - 40px) / 3);
    }

    // &__card {
    //     // Ваші стилі для карточки формату тут
    // }

    // &__image {
    //     // Ваші стилі для зображення тут
    // }
}