.header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding-top: 16px;

    @media screen and (min-width:$bp-desktop) {
        padding-top: 32px;
    }

    &__container {
        display: flex;
        align-items: center;
        gap: 40px;

    }

    &__nav {
        flex-grow: 1;
        display: flex;
        align-items: center;
        gap: 40px;
    }

    &__menu {
        display: none;

        @media screen and (min-width:$bp-desktop) {
            display: flex;
            gap: 64px;
            flex-grow: 1;
            justify-content: center;
        }
    }

    &__button {
        display: none;

        @media screen and (min-width:$bp-desktop) {
            display: block;
        }
    }

    &__burger {
        background-color: transparent;
        border: none;
        fill: var(--primary-color-light);
        padding: 0;

        @media screen and (min-width: $bp-desktop) {
            display: none;
        }
    }
}