:root {
    --primary-color-light: #FAF4EA;
    --primary-color-dark: #31261A;
    --primary-color: #819B57;
    --secondaty-color-light: #CFCFBC;
    --secondaty-color-dark: #A18268;
    --secondaty-color: #465929;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;